<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <h1>Login</h1>
    <%= form_with url: auth_path, local: true, method: :post do |form| %>
      <div class="mb-4">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control form-control-lg" %>
      </div>

      <div class="mb-4">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control form-control-lg" %>
      </div>

      <div class="mb-4">
        <%= form.check_box :remember_me %>
        <%= form.label :remember_me %>
      </div>

      <div class="d-grid">
        <%= form.submit "Login", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
