<div class="mb-3">
  <%= form_with(url: path, method: :get, local: true) do |form| %>
    <div class="input-group">
      <%=
        form.text_field :q,
        value: params[:q],
        class: "form-control form-control-lg",
        placeholder: "Search all #{path.split('/').last}"
      %>

      <div class="input-group-text fs-5">
        <% if params[:q] %>
          <%= link_to path do %>
            <%= icon('times') %>
          <% end %>
        <% else %>
          <button type="submit" class="btn p-0 m-0">
            <%= icon('search') %>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
