<%= render "shared/social_meta", object: "Venues" %>

<div id="venues">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-start">Venues</h1>
    </div>
    <div class="col-sm-4">
      <%= render "shared/search_form", path: venues_path %>
    </div>
  </div>

  <%= query_result_details(params[:q], @venues.size) %>

  <div class="d-flex flex-wrap justify-content-around">
    <% @venues.each do |venue| %>
      <div class="gap-1" style="width: 300px">
        <%= link_to image_tag(image_url_for(venue), class: "img-fluid"), venue %>
        <p class="text-center"><%= link_to venue.name, venue %></p>
      </div>
    <% end %>
  </div>

  <%= will_paginate @venues %>
</div>
