<%= form_with(model: band, local: true) do |form| %>
  <% if band.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(band.errors.count, "error") %> prohibited this band from being saved:</p>
      <ul>
        <% band.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, id: :band_name, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :location, "Location (optional)", class: "form-label" %>
    <%= form.text_field :location, id: :band_location, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :bio, "Bio (optional)", class: "form-label" %>
    <%= form.text_area :bio, id: :band_bio, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :website, "Website (optional)", class: "form-label" %>
    <%= form.text_field :website, id: :band_website, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :bandcamp, "Bandcamp (optional)", class: "form-label" %>
    <%= form.text_field :bandcamp, id: :band_bandcamp, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :facebook, "Facebook (optional)", class: "form-label" %>
    <%= form.text_field :facebook, id: :band_facebook, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :soundcloud, "Soundcloud (optional)", class: "form-label" %>
    <%= form.text_field :soundcloud, id: :band_soundcloud, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :instagram, "Instagram (optional)", class: "form-label" %>
    <%= form.text_field :instagram, id: :band_instagram, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-4">
    <%= form.label :twitter, "Twitter (optional)", class: "form-label" %>
    <%= form.text_field :twitter, id: :band_twitter, class: "form-control form-control-lg" %>
  </div>

  <% if current_user.admin? %>
    <div class="mb-4">
      <%= form.label :status, class: "form-label" %>
      <%=
        form.select :status, Band.statuses.keys.map { |w| [w.humanize, w] }, {},
        class: "form-select form-select-lg"
      %>
      <p class="form-text">This is an admin-only field. If you can see this, you are an admin.</p>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :image, "Image (optional)", class: "form-label" %>

    <% if @band.image.attached? %>
      <%= image_tag(image_url_for(@band), class: "img-fluid") %>
      <p class="help-block">Choose a new image to replace the one above</p>
    <% end %>

    <%= form.file_field :image, id: :band_image, class: "form-control form-control-lg" %>
  </div>

  <div class="d-grid">
    <%= form.submit "Save", class: "btn btn-lg btn-primary"  %>
  </div>
<% end %>
