<%= render "shared/social_meta", object: "Bands" %>

<div id="bands">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-start">Bands</h1>
    </div>
    <div class="col-sm-4">
      <%= render "shared/search_form", path: bands_path %>
    </div>
  </div>

  <%= query_result_details(params[:q], @bands.size) %>

  <div class="d-flex flex-wrap justify-content-around">
    <% @bands.each do |band| %>
      <div class="gap-1" style="width: 300px">
        <%= link_to image_tag(image_url_for(band), class: "img-fluid"), band %>
        <p class="text-center"><%= link_to band.name, band %></p>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <%= will_paginate @bands %>
  </div>
</div>
