<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>Edit Featured Video</h1>
    <%= form_with(model: @feature, local: true) do |form| %>
      <h3>Video</h3>
      <div class="mb-4">
        <div class="video-container">
          <iframe src="//youtube.com/embed/<%= @video.url.split("=").last %>" frameborder="0" title="YouTube Video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      <%= form.hidden_field :target_id, value: params[:video_id] %>

      <div class="mb-4">
        <%= form.label :name, "Feature Slot" %>
        <%= form.text_field :name, disabled: true, class: "form-control form-control-lg" %>
      </div>

      <div class="mb-4">
        <%= form.label :caption, "Why is this video being featured? (optional)" %>
        <%= form.text_area :caption, maxlength: 190, rows: 4, class: "form-control form-control-lg" %>
      </div>

      <div class="d-grid">
        <%= form.submit "Save", class: "btn btn-lg btn-primary"  %>
      </div>
    <% end %>
  </div>
</div>
